<!DOCTYPE html>
<html ng-app>
<head>
	<title>Calculator Demo</title>

	<!-- Calculator Styles -->
	<link rel="stylesheet" type="text/css" href="calculator.css">

	<!-- Calculator Logic -->
	<script src="angular.js"></script>
	<script src="calculator.js"></script>

</head>
<body>

<div id="calculator" ng-controller="CalcCtrl">

	<!-- Calculator Display -->
	<section id="display">{{display}}</section>

	<!-- Buttons with click event handlers -->
	<section id="buttons">

		<a ng-click="press('7')" class="button">7</a>
		<a ng-click="press('8')" class="button">8</a>
		<a ng-click="press('9')" class="button">9</a>
		<a ng-click="press('*')" class="button">x</a> 
		<br/>
		
		<a ng-click="press('4')" class="button">4</a>
		<a ng-click="press('5')" class="button">5</a>
		<a ng-click="press('6')" class="button">6</a>
		<a ng-click="press('/')" class="button">/</a> 
		<br/>

		<a ng-click="press('1')" class="button">1</a>
		<a ng-click="press('2')" class="button">2</a>
		<a ng-click="press('3')" class="button">3</a>
		<a ng-click="press('-')" class="button">-</a> 
		<br/>
		
		<a ng-click="press('0')" class="button">0</a>
		<a ng-click="press('.')" class="button">.</a>
		<a ng-click="press('+')" class="button">+</a>
		<a ng-click="press('=')" class="button alt">=</a>
		<br/>
	
	</section>

</div>

</body>
</html>
